{{#partial "content"}}

<div class="container">
   <div class="container">
        <h2>All engineers</h2>

       {{#if engineers}}
           <p> Click on the engineer name to view the site details.</p>
       {{else}}
           <p>Click <a href="/engineers">here </a>to add an engineer.</p>
       {{/if}}

    {{#if engineers}}


           <div class="table-responsive">
           <table class="table table-bordered table-dark table-sm">

               <thead>
               <tr>
                   <th scope="col">#.</th>
                   <th scope="col">EMPLOYEE NO.</th>
                   <th scope="col">NAME</th>
                   <th scope="col">MOBILE NO.</th>
                   <th scope="col">SITES ALLOCATED</th>

               </tr>
               </thead>


               {{#each engineers}}
               <tbody>
               <tr>

                   <td> {{id}}</td>
                   <td>{{emp_no}}</td>
                   <td><a href="/engineers/{{id}}">{{name}}</a></td>
                   <td>{{mobileNo}}</td>
                   <td><a href="/engineers/{{id}}">Click to view</a> </td>

               </tr>
               </tbody>
           {{/each}}
       </table>
       </div>
       {{else}}
           <p>No Records</p>
       {{/if}}


        <br>
        <a href="/engineers/new">Add a New engineer</a>
        <br>
        <a href="/">Home</a>
    </div>
    <a href="/">Home</a>
</div>

{{/partial}}

{{> layout.hbs}}