{{#partial "content"}}

<div class=container>

    <h2>List of all sites!</h2><br>
    <hr>

    {{#if sites}}


        <div class="table-responsive">
            <table class="table table-bordered table-dark table-sm">

                <thead>
                <tr>
                    <th scope="col">#.</th>
                    <th scope="col">SITE NO.</th>
                    <th scope="col">SITE NAME</th>
                    <th scope="col">ENGINEER ID.</th>


                </tr>
                </thead>


                {{#each sites}}
                    <tbody>
                    <tr>

                        <td>{{id}}</td>
                        <td>{{siteId}}</td>
                        <td>{{siteName}}</td>
                        <td><a href="/engineers/{{id}}">{{engineer.name}}</td>


                    </tr>
                    </tbody>
                {{/each}}
            </table>
        </div>
    {{else}}
        <p>No Records</p>
    {{/if}}


    <br>
    <a href="/sites/new">Add a New Site</a>
    <br>
    <a href="/">Home</a>
</div>

</div>


{{/partial}}

{{> layout.hbs}}