{{#partial "content"}}


    <p> <h2>Details of sites maintained by Engineer {{engineer.name}}</h2></p>


    {{#if engineers}}

        {{#each}}
        <div class="table-responsive">
            <table class="table table-bordered table-dark table-sm">

                <thead>
                <tr>
                    <th scope="col">#.</th>
                    <th scope="col">EMPLOYEE NO.</th>
                    <th scope="col">NAME</th>
                    <th scope="col">MOBILE NO.</th>
                    <th scope="col">SITES ALLOCATED</th>

                </tr>
                </thead>



                    <tbody>
                    <tr>

                        <td>{{id}}</td>
                        <td>{{emp_no}}</td>
                        <td>{{name}}</td>
                        <td>{{mobileNo}}</td>
                    <td>

                    </td>
                    </tr>
                    </tbody>
        {{/each}}
        {{else}}
        Engineer unavailable. Please add.
        {{/if}}

            </table>

        </div>

        <h3>Sites Maintained:</h3>

        {{#if sites}}
            {{#each sites }}
                <ol>
                    <li>{{site.name}}</li>
                </ol>
                {{engineerId}}
            {{/each}}

    {{else}}
        <p>No Records available.</p>
    {{/if}}



{{/partial}}

{{> layout.hbs}}