{{#partial "content"}}

    <div>
        <h2>Site Details</h2>
    </div>

    {{#if sites}}
        <p>Please find details of site <h4>{{sites.siteName}}</h4>.</p>
    {{else}}
        <p>Click <a href="/sites/new">here</a> to add a visitor.</p>
    {{/if}}

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered table-dark table-sm">
                <thead>
                <tr class="bg-info text-white">
                    <th scope="col">#.</th>
                    <th scope="col">SITE NO.</th>
                    <th scope="col">SITE NAME</th>
                    <th scope="col">ENGINEER NAME.</th>

                </tr>
                </thead>

                <tbody>
                <tr class="">

                    <td>{{sites.id}}</td>
                    <td>{{sites.siteId}}</td>
                    <td>{{sites.siteName}}</td>
                    <td>{{sites.engineerName}}</td>



                </tr>
                </tbody>
            </table>

        </div>

    </div>






    </div>


{{/partial}}

{{> layout.hbs}}